

.container {
  width: 100%;
  height: auto;
}

.container > .top {
  /* border: 2px red solid; */
  height: 200px;
}

.container > .header {
  border: 2px rgb(208, 255, 0) solid;
  height: 200px;
  wid
}

.container > .timeline-display {
  border: 2px rgb(0, 255, 21) solid;
  height: 100px;
}
/* Main */
.container > .main {
  border: 2px rgb(0, 255, 234) solid;
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: flex-end;
  gap: 1em;
}
.container > .main div {
  border: 1px red solid;
  height: 30em;
}


.container > .service-text {
  border: 2px rgb(238, 0, 255) solid;
  height: 200px;
}

.container > .service {
  border: 2px rgb(255, 0, 34) solid;
  height: 200px;
}

.container > .sign {
  border: 2px rgb(238, 255, 0) solid;
  height: 200px;
}
