.container {
  width: 100%;
  height: auto;
}
/* Top */
.container > .top {
  margin: 10px auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 1em;
}
.container > .top div {
  background-color: rgba(15, 88, 197, 0.599);
  height: 15em;
  border-radius: 5px;
}

/* Header */
.container > .header {
  margin: 10px auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
}
.container > .header div {
  background-color: rgba(15, 88, 197, 0.599);
  height: 20em;
  border-radius: 5px;
}

/* Timeline image */
.container > .timeline-display {
  background-color: rgba(15, 88, 197, 0.599);
  height: 10em;
  border-radius: 5px;
}
/* Main */
.container > .main {
  margin: 10px auto;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: flex-end;
  gap: 1em;
}
.container > .main div {
  background-color: rgba(15, 88, 197, 0.599);
  height: 30em;
  border-radius: 5px;
}

/* Service  text */
.container > .service-text {
  background-color: rgba(15, 88, 197, 0.599);
  height: 10em;
  border-radius: 5px;
}

/* Service */
.container > .service {
  margin: 10px auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1em;
}
.container > .service div {
  background-color: rgba(15, 88, 197, 0.599);
  height: 30em;
  border-radius: 5px;
}

/* Sign */
.container > .sign {
  margin: 10px auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 1em;
}
.container > .sign div {
  background-color: rgba(15, 88, 197, 0.599);
  height: 30em;
  border-radius: 5px;
}
